html{
    height: 100%;
    width: 100%;
    background-image: url('images/food2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

input{
    background-color:  rgb(255, 247, 210);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: rgb(69, 48, 22);
    text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
    border: double 10px;
    border-color: black;
    background-color: rgb(238, 216, 167);
    padding: 10px;
    margin-block: 10px;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-style: italic;
    color: rgb(238, 216, 167);
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 rgb(69, 48, 22),
    1px -1px 0 rgb(69, 48, 22),
    -1px -1px 0 rgb(69, 48, 22);
    display: flex;
    justify-content: center;
}

.dinnerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    
}

.dinnerArea{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mealplan{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dinnerList{
    display: none;
    width: 90%;
    padding-left: 15px;
    text-align: left;
    background-color: rgb(255, 247, 210);
    margin-top: 20px;
    border: 2px double black;
}

#dinnerList div{
    font-weight: bold;
    padding: 7px;
}

#dinnerList li:hover{
    font-weight: bold;
}

#OutputGroceryList{
    display: none;
    width: 90%;
    padding-left: 15px;
    text-align: left;
    background-color: rgb(255, 247, 210);
    margin-top: 20px;
    border: 2px double black;
}

#OutputGroceryList div{
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 7px;
}

h3{
    display: flex;
    justify-content: center;
}

#outputTip{
width: 150px;
height: 40px;
background-color: rgb(255, 247, 210);
border: double 2px black;
margin-bottom: 3%;
margin-top: 3%;
display: flex;
justify-content: center;
align-items: center;
font-size: larger;
font-weight: 900;
}


button {
  background-color: #422800;
  border: 2px solid rgb(255, 247, 210);
  border-radius: 30px;
  box-shadow: rgb(255, 247, 210) 4px 4px 0 0;
  color:rgb(255, 247, 210);
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  font-size: 10px;
  padding: 0 6px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: rgb(19, 13, 9);
}

button:active {
  box-shadow: rgb(255, 247, 210) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  button {
    min-width: 120px;
    padding: 0 25px;
  }
}
